.git
.github
.idea
.vscode
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
helm
docker-compose*.yml
Makefile
storage/app/*
!storage/app/public
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite
*.md
